@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">To The</h2>
    <h1 class="display-3">Inventory System</h1>
</div>
