@page
@model InventorySystem.Pages.Users.LoginModel

@{
   ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<div class="row">
    <span style="color:red;">@Model.Message</span>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserIdentity.Name" class="control-label"></label>
                <input asp-for="UserIdentity.Name" class="form-control" Required/>
                <span asp-validation-for="UserIdentity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIdentity.Email" class="control-label"></label>
                <input asp-for="UserIdentity.Email" class="form-control" Required/>
                <span asp-validation-for="UserIdentity.Email" class="text-danger"></span>
            </div>
            &nbsp;&nbsp;
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary" />
                 <a class="btn btn-primary" asp-page="/Users/Register">Register</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
